@import "utilities.css";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Public Sans";
}

body {
  background-image: url("../assets/bitmojicpy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.right a img {
  height: 35px;
  padding: 5px;
}

header {
  background: black;
  height: 70px;
}

.container {
  max-width: calc(100vw - 20px);
  padding: 0 15px;
  margin: 0 auto;
}

header nav .left a {
  color: white;
  font-family: NavFont, sans-serif;
  margin-right: 5rem;
  transition: all 0.5s ease;
}

header nav .left .logo h1 {
  color: white;
  font-family: MyName;
  font-size: 25px;
}

header nav .logo {
  margin-right: 17rem;
}

header nav .left a:hover {
  color: pink;
}

.hero {
  height: calc(100vh - 60px);
}

.hero h1 {
  font-size: 170px;
  font-family: "Reenie Beanie";
  margin-left: 20rem;
  font-weight: 550;
}

section {
  height: calc(100vh - 70px);
  padding: 5rem 0;
}

.who {
  margin-left: 3rem;
}

.who .top {
  text-align: center;
  margin-bottom: 2rem;
  /* max-width: 1050px; */
}

section p {
  font-size: 2rem;
}

.ed {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.7s ease;
  cursor: pointer;
}

.ed h4 {
  font-family: "PT Sans Narrow";
}

.ed .hide {
  display: none;
}

.ed:hover {
  background: black;
  border-radius: 1rem;
}

.ed:hover .no-hide {
  display: flex;
  color: #fbaaaa;
  flex-direction: column;
  padding: 1rem;
}

.ed:hover .hide {
  display: flex;
  flex-direction: column;
  color: #fbaaaa;
  padding: 1rem 0 1rem 1rem;
}

.bottom .head {
  margin: 1rem;
  font-size: 2rem;
}

.what {
  padding: 8rem 0;
}

.desc {
  margin-left: 7rem;
  text-align: center;
  margin-bottom: 2rem;
  max-width: 1050px;
}

.btn {
  text-align: center;
  margin-left: -3rem;
}

.btn a {
  background-color: black;
  padding: 1rem 3rem;
  border-radius: 6px;
  color: white;
  font-size: 1rem;
  transition: all 0.5s ease;
}

.btn a:hover {
  background-color: #fbaaaa;
  color: black;
}

.projects {
  padding: 12rem 32rem;
}

section.what .container {
  display: flex;
  flex-direction: column;
}

section.who .container {
  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "NavFont";
  src: url("../fonts/PodkovaVFBeta.ttf");
}

@font-face {
  font-family: "MyName";
  src: url("../fonts/BungeeInline-Regular.ttf");
}
