@font-face {
  font-family: "NavFont";
  src: url("../fonts/PodkovaVFBeta.ttf");
}

@font-face {
  font-family: "MyName";
  src: url("../fonts/BungeeInline-Regular.ttf");
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1152px;
  }
}

section.intro{
  padding: 2rem;
  margin: 2rem;
}

.flex{
  display: flex;
  flex-direction: column;
}

.items-center{
  align-items: center;
}

.justify-between{
  justify-content: space-between;
}

html{
  scroll-behavior: smooth;
}

header .flex{
  flex-direction: row;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Public Sans";
}

body {
  background-image: url("../assets/bitmojicpy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background: black;
  height: 70px;
}

.container{
  max-width:1152px;
  padding:0 15px;
  margin:0 auto;
}

header{
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 100%;
}

header nav a {
  color: white;
  font-family: NavFont, sans-serif;
  margin-right: 5rem;
  transition: all 0.5s ease;
}

header nav .left .logo h1 {
  color: white;
  font-family: MyName;
  font-size: 25px;
}

header nav .logo {
  margin-right: 17rem;
}

header nav a:hover {
  color: #fbaaaa;
}

.hero h1 {
  font-size: 170px;
  font-family: "Reenie Beanie";
  font-weight: 550;
  text-align: center;
  padding-top: 5rem;
}

section.who {
  flex-direction: column;
  padding: 3rem;
  margin: 3rem;
}

section.who .top {
  text-align: center;
  margin-bottom: 2rem;
}

section p {
  font-size: 2rem;
}

.ed {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  transition: all 0.7s ease;
  cursor: pointer;
}

.ed h4 {
  font-family: "PT Sans Narrow";
}

.ed .hide {
  display: none;
}

.ed:hover {
  background: black;
  border-radius: 1rem;
}

.ed:hover .no-hide {
  display: flex;
  color: #fbaaaa;
  flex-direction: column;
  padding: 1rem;
}

.ed:hover .hide {
  display: flex;
  flex-direction: column;
  color: #fbaaaa;
  padding: 1rem 0 1rem 1rem;
}

.bottom .head {
  margin: 1rem;
  /* font-size: 2rem; */
}

section.what{
  text-align: center;
  padding: 4rem;
  margin: 4rem;
}

section.what .desc {
  padding: 1rem;
  margin-bottom: 2rem;
}

section.what .btn {
  margin-left: -3rem;
}

section.what .btn a {
  background-color: black;
  padding: 1rem 3rem;
  border-radius: 6px;
  color: #fbaaaa;
  font-size: 1rem;
  transition: all 0.5s ease;
}

section.what .btn a:hover {
  background-color: #fbaaaa;
  color: black;
}

/* you aren't supposed to delete this, you may need this later */
/* section.projects{
  text-align: center;
  padding: 1rem;
} */
/* ok bye */

section.who .container {
  display: flex;
  flex-direction: column;
}

section.contact {
  flex-direction: column;
  padding: 3rem;
  margin: 3rem;
}

section.contact .input-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

section.contact input {
  padding: 1rem;
  border-radius: 6px;
  border: gray;
  background-color: black;
  color: #fbaaaa;
}

section.contact textarea {
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 6px;
  border: gray;
  background-color: black;
  color: #fbaaaa;
}

::placeholder {
  color: #fbaaaa;
  opacity: 1;
}

section.contact input:focus {
  outline: none;
}

section.contact .button {
  text-align: center;
  /* margin-left: 1rem; */
}

section.contact textarea:focus {
  outline: none;
}

section.contact button {
  background-color: black;
  padding: 1rem 3rem;
  border-radius: 6px;
  color: #fbaaaa;
  font-size: 1rem;
  transition: all 0.5s ease;
  border: none;
  cursor: pointer;
}

section.contact button:hover {
  background-color: #fbaaaa;
  color: black;
}

footer {
  background: black;
  color: white;
  padding: 1rem;
  text-align: center;
}

footer .socials {
  margin: 1rem;
  margin-left: 2rem;
}

footer .socials a {
  margin-right: 1rem;
}

footer .socials a img {
  height: 30px;
}

footer h2 {
  margin-bottom: 1rem;
}

.main-wrapper{
  position: relative;
}

.hamburger{
  position: absolute;
  top: 20px;
  right: 40px;
  background: none;
  border: none;
  z-index: 11;
  outline: none;
  cursor: pointer;
  display: none;
}

.hamburger img{
  width: 30px;
}

.mobile-nav{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  background: black;
  width: 100%;
  height: 100%;
  padding: 2rem;
  transform: translateX(-100%);
  transition: all .5s ease-in-out;
}

.open{
  transform: translateX(0);
}

.mobile-nav ul li{
  padding: 1rem;
}

.mobile-nav ul li a{
  color: white;
  font-family: NavFont, sans-serif;
}

.mobile-nav h1{
  color: white;
  font-family: MyName;
}

.times{
  position: fixed;
  top: 30px;
  right: 40px;
  background: none;
  border: none;
  /* z-index: 11; */
  outline: none;
  cursor: pointer;
}

.times img{
  width: 20px;
}

@media (max-width:1024px){
  header{
    display: none;
  }
  .hamburger{
    display: block;
  }
}

@media (max-width:576px){
  .hero h1{
    font-size: 109px;
  }

  /* section.what p{
    padding: 1rem;
  } */
  section.who p{
    padding: 1rem;
  }
  section.contact .input-wrap{
    grid-template-columns: repeat(1, 1fr);
  }
  section.contact button{
    padding: 1rem 1rem;
    margin-left: -2rem;
  }
  section.what .btn a{
    margin-left: 2rem;
  }
}
